
/* Style for whole document */

body {
background: forestgreen;
font-family: "Palatino Linotype", "Palatino", serif;
text-align: center;
}

/* Style for headings */

h1,h2,h3 {
margin-bottom: 20px;
}

h1 {
background-color:black;
color:red;
font-size: 32px;
}

h2 {
background-color:yellow;
font-size: 25px;
}

h3 {
background-color:red;
font-size: 22px;
}

/* Style for introduction */

#text_introduction {
font-size: 18px;
line-height: 1.5;
}

#image_introduction {
margin-top: 20px;
}

/* Style for song */

.song audio {
width: 300pt;
margin-top: 0pt;
margin-bottom: 0pt;
margin-right: auto;
margin-left: auto;
}

/* Style for ingredients */

table.center {
    margin-left:auto;
    margin-right:auto;
}

.ingredients th, td {
text-align: center;
width: 200px;
}

.name_ingredient {
font-size: 18px;
}

.image_ingredient img {
width: 60%;
height: 80%;
}

.image_ingredient td {
height: 150px;
}

.audio_ingredient td audio {
width: 95%;
}

/* Style for tutorial */

.tutorial video {
width: 300pt;
height: 180pt;
}


/* COLOR CODES FROM WEBSITE COOLORS */
--claret: #831c34ff;
--catawba: #7d3248ff;
--old-lavender: #705d70ff;
--celadon: #acd8aaff;
--rifle-green: #4b5842ff;
--silver-pink: #bfa89eff;
--dark-khaki: #b5ba72ff;
