@keyframes rotator {
/*0% { transform: rotate(0deg) }
50% { transform: rotate(180deg) }
100% { transform: rotate(360deg) }*/
from {transform: rotate(0deg);}
to {transform: rotate(360deg);}
}

div img {
margin-left: 300pt;
margin-top: 100pt;
animation-name: rotator;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}